# 구글 시트 URL의 /d/ 와 /edit 사이 문자열
# 예: https://docs.google.com/spreadsheets/d/1AbCdEfGhIjKlMnOpQrStUvWxYz/edit
SPREADSHEET_ID=1FDhhWRd4WohGX8w2sNNUGVSHaLstltdXlqYZ8nOdrk0
# 4전략 프로젝트와 동일 (cursor/credentials/google-sa.json)
CREDENTIALS_FILE=../credentials/google-sa.json
